.tab-bar{
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 32px 32px 0 0;
    padding: 24px;
    background-color: white;
}
.tab-bar a{
    position: relative;
}
.tab-bar img {
    width: 30px;
}
.cart-qty{
    position: absolute;
    bottom: -5px;
    right: -20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: var(--primary);
    font-weight: 700;
}
.active{
    position: absolute;
    top: -5px;
    left: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: radial-gradient(circle, var(--primary) 20%, transparent 80%);
}